*.ipynb_checkpoints
*__pycache__

audio_set/

data/audioset/eval_segments.csv
data/audioset/unbalanced_train_laughter_audio/
data/audioset/unbalanced_train_segments.csv

checkpoints/not_used/
checkpoints/comparisons/baseline_mfcc/last.pth.tar
checkpoints/comparisons/baseline_mfcc_trained_on_audioset/events.out.tfevents.1610584049.sequoia
checkpoints/comparisons/baseline_mfcc_trained_on_audioset/last.pth.tar
checkpoints/comparisons/resnet_with_augmentation_trained_on_audioset/events.out.tfevents.1602036302.sequoia
checkpoints/comparisons/resnet_with_augmentation_trained_on_audioset/last.pth.tar
checkpoints/comparisons/resnet_without_augmentation/events.out.tfevents.1588007962.sequoia
checkpoints/comparisons/resnet_without_augmentation/last.pth.tar
checkpoints/comparisons/resnet_without_augmentation_trained_on_audioset/events.out.tfevents.1610583280.sequoia
checkpoints/comparisons/resnet_without_augmentation_trained_on_audioset/last.pth.tar
checkpoints/in_use/resnet_with_augmentation/events.out.tfevents.1586238947.sequoia
checkpoints/in_use/resnet_with_augmentation/last.pth.tar

data/audioset/annotations/clean_laughter_annotations_backup.csv
data/audioset/annotations/clean_laughter_annotations_jg.csv
data/audioset/annotations/clean_2nd_annotator_annotations_jg.csv
data/audioset/annotations/raw_annotations/
data/audioset/test/
data/audioset/train/
data/audioset/val/
data/audioset/eval_laughter_audio/
data/audioset/splits/dev_laughter_files.txt
data/audioset/splits/dev_negative_files.txt
data/audioset/splits/test_laughter_files.txt
data/audioset/splits/test_negative_files.txt
data/audioset/splits/train_laughter_files.txt
data/audioset/splits/train_negative_files.txt
data/background_noise_files/
data/background_music_files/
data/impulse_responses/
data/kimiko/
data/laugh_test1/
data/laugh_test2/
data/uist_clean_and_noisy_participants/
data/spotifyClips/
data/switchboard/
data/test_laughs2_old/
data/test_laughs30_old/

legacy/

Pipfile
Pipfile.lock

scripts/Development.ipynb
scripts/train_backup.py




