*.ipynb_checkpoints
*__pycache__

audio_set/

data/audioset/eval_segments.csv
data/audioset/unbalanced_train_laughter_audio/
data/audioset/unbalanced_train_segments.csv

checkpoints/not_used/
checkpoints/comparisons/baseline_mfcc/last.pth.tar
checkpoints/comparisons/baseline_mfcc_trained_on_audioset/events.out.tfevents.1610584049.sequoia
checkpoints/comparisons/baseline_mfcc_trained_on_audioset/last.pth.tar
checkpoints/comparisons/resnet_with_augmentation_trained_on_audioset/events.out.tfevents.1602036302.sequoia
checkpoints/comparisons/resnet_with_augmentation_trained_on_audioset/last.pth.tar
checkpoints/comparisons/resnet_without_augmentation/events.out.tfevents.1588007962.sequoia
checkpoints/comparisons/resnet_without_augmentation/last.pth.tar
checkpoints/comparisons/resnet_without_augmentation_trained_on_audioset/events.out.tfevents.1610583280.sequoia
checkpoints/comparisons/resnet_without_augmentation_trained_on_audioset/last.pth.tar
checkpoints/in_use/resnet_with_augmentation/events.out.tfevents.1586238947.sequoia
checkpoints/in_use/resnet_with_augmentation/last.pth.tar

data/audioset/annotations/clean_laughter_annotations_backup.csv
data/audioset/annotations/clean_laughter_annotations_jg.csv
data/audioset/annotations/clean_2nd_annotator_annotations_jg.csv
data/audioset/annotations/raw_annotations/
data/audioset/test/
data/audioset/train/
data/audioset/val/
data/audioset/eval_laughter_audio/
data/audioset/splits/dev_laughter_files.txt
data/audioset/splits/dev_negative_files.txt
data/audioset/splits/test_laughter_files.txt
data/audioset/splits/test_negative_files.txt
data/audioset/splits/train_laughter_files.txt
data/audioset/splits/train_negative_files.txt
data/background_noise_files/
data/background_music_files/
data/impulse_responses/
data/kimiko/
data/laugh_test1/
data/laugh_test2/
data/uist_clean_and_noisy_participants/
data/spotifyClips/
data/switchboard/
data/test_laughs2_old/
data/test_laughs30_old/

legacy/

Pipfile
Pipfile.lock

scripts/Development.ipynb
scripts/train_backup.py


# Created by https://www.toptal.com/developers/gitignore/api/venv,python,macos,linux,windows,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=venv,python,macos,linux,windows,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook

# IPython

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/venv,python,macos,linux,windows,jupyternotebooks
